@import "tailwindcss";

@font-face {
  font-family: 'Syne-Bold';
  src: url('/Fonts/TTF/Syne-Bold.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
.input {
@apply w-full rounded-lg border border-gray-300 px-4 py-2 shadow-sm focus:outline-none focus:ring-2 focus:ring-[#001A78];
}